:root {
  --bg-blue-dark-color: rgba(44, 60, 92, 1);
  --bg-blue-light-color: rgba(44, 60, 92, 0.7);
  --light-color: rgba(251, 251, 251, 1);
}

@media (max-width: 992px) {
  .nav-divider {
    display: none;
  }

  .route-header {
    margin-top: 10px;
  }

  .check-route-btn {
    width: 100%;
  }

  .best-routes-hr {
    display: none;
  }

  .single-route {
    margin-top: 30px;
  }

  .all-peaks-row {
    flex-direction: column;
  }

  .single-peak {
    text-align: center;
    margin: auto;
    flex-direction: column;
  }

  .all-peaks-text {
    margin-top: 30px;
  }

  .index-row {
    flex-direction: column;
    margin-top: -80px;
  }

  .bottom {
    display: none;
  }

  .index-single-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    width: 100%;
  }

  .index-header {
    color: var(--bg-blue-dark-color);
    margin-top: -35px;
  }

  .index-description-text {
    width: 80%;
    color: var(--bg-blue-dark-color);
  }

  #footer {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: var(--bg-blue-light-color);
    color: var(--light-color);
  }

  #footer-link {
    color: var(--light-color);
    text-decoration: none;
    font-weight: bold;
  }

  #footer-link:hover {
    text-decoration: underline;
  }
}

* {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/*general*/

body {
  background-color: var(--light-color);
}

.bold {
  font-weight: bold;
  font-size: medium;
}

.header img {
  width: 100%;
}

.navbar-nav {
  width: 50%;
}

span {
  font-size: 24px;
}

.nav-link {
  color: var(--bg-blue-dark-color);
}

.nav-link:hover {
  color: var(--bg-blue-dark-color);
}

.active {
  font-weight: bolder;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--bg-blue-dark-color);
}

.footer-link {
  color: var(--bg-blue-dark-color);
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

/*home*/
.index-intro {
  margin-top: 40px;
  text-align: center;
  width: 80%;
  font-weight: bold;
  color: var(--bg-blue-dark-color);
}

.overlaping-content {
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top {
  height: auto;
  z-index: 1;
}

.bottom {
  margin-top: -330px;
  height: 400px;
  width: 100%;
  background-color: var(--bg-blue-light-color);
}

.index-container {
  margin: auto;
  margin-top: 150px;
}

.index-single-circle {
  display: flex;
  flex-direction: column;
}

.index-circle-pic {
  background-color: var(--light-color);
  border: 30px solid;
  border-radius: 180px;
  border-color: var(--light-color);
  width: 250px;
  transition: ease-in-out 250ms;
}

.index-circle-pic:hover {
  transform: scale(1.03);
}

.index-text {
  color: var(--light-color);
  text-align: center;
  margin-top: 30px;
}

.index-link {
  color: var(--light-color);
  text-decoration: none;
}

.index-link:hover {
  text-decoration: underline;
}

.index-header {
  font-size: 36px;
  font-weight: bold;
}

.index-description-text {
  font-size: 16px;
}

#footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--bg-blue-dark-color);
}

#footer-link {
  color: var(--bg-blue-dark-color);
  text-decoration: none;
  font-weight: bold;
}

#footer-link:hover {
  text-decoration: underline;
}

/*best-routes*/
.all-routes {
  margin-top: 60px;
  color: var(--bg-blue-dark-color);
}

.best-routes-hr {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.route-img {
  width: 100%;
  border-radius: 8px;
}

.route-header {
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

.route-information {
  margin-top: 20px;
  line-height: 5px;
}

.check-route-btn-div {
  text-align: right;
}

.check-route-btn {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--bg-blue-dark-color);
}

.check-route-btn:hover {
  text-decoration: underline;
  background-color: var(--bg-blue-dark-color);
}

.check-route-link {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: none;
}

.check-route-link:hover {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: underline;
}

.best-routes-bottom-div {
  background-color: var(--bg-blue-light-color);
  padding: 20px;
  margin-top: 70px;
}

.best-routes-bottom-p {
  color: var(--light-color);
  text-align: center;
}

.best-routes-bottom-link {
  color: var(--light-color);
  text-decoration: none;
}

.best-routes-bottom-link:hover {
  text-decoration: underline;
}

/*about-fatra*/
.about-fatra-intro {
  margin-top: 40px;
  width: 80%;
  color: var(--bg-blue-dark-color);
  text-align: center;
}

.about-fatra-div {
  background-color: var(--bg-blue-light-color);
  padding: 20px;
  margin-top: 70px;
}

.about-fatra-p {
  color: var(--light-color);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3%;
}
/*all-peaks*/
.all-peaks-intro {
  margin-top: 40px;
  width: 80%;
  color: var(--bg-blue-dark-color);
  text-align: center;
}

.all-peaks-container {
  margin-top: 100px;
  margin: auto;
}

.all-peaks-row {
  display: flex;
}

.single-peak {
  display: flex;
  margin-top: 50px;
}

.all-peaks-text {
  line-height: 5px;
}
.all-peaks-text-special {
  line-height: normal;
}

.all-peaks-peak-header {
  font-weight: 700;
  color: var(--bg-blue-dark-color);
}

.all-peaks-peak-info {
  font-weight: bold;
  color: var(--bg-blue-light-color);
}

.all-peaks-peak-link {
  text-decoration: none;
}

.all-peaks-peak-link:hover {
  text-decoration: underline;
  color: var(--bg-blue-dark-color);
}

.all-peaks-fact {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--bg-blue-light-color);
}

.all-peaks-p {
  width: 80%;
}
