:root {
  --bg-blue-dark-color: rgba(44, 60, 92, 1);
  --bg-blue-light-color: rgba(44, 60, 92, 0.7);
  --light-color: rgba(251, 251, 251, 1);
}

@media (max-width: 992px) {
  .nav-divider {
    display: none;
  }

  .route-header {
    margin-top: 10px;
  }

  .check-route-btn {
    width: 100%;
  }

  .best-routes-hr {
    display: none;
  }

  .single-route {
    margin-top: 30px;
  }

  .all-peaks-row {
    margin: auto;
  }
}

* {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/*general*/

body {
  background-color: var(--light-color);
}

.bold {
  font-weight: bold;
  font-size: medium;
}

.header img {
  width: 100%;
}

.navbar-nav {
  width: 50%;
}

span {
  font-size: 24px;
}

.nav-link {
  color: var(--bg-blue-dark-color);
}

.nav-link:hover {
  color: var(--bg-blue-dark-color);
}

.active {
  font-weight: bolder;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--bg-blue-dark-color);
}

.footer-link {
  color: var(--bg-blue-dark-color);
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

/*home*/
.index-intro {
  margin-top: 40px;
  text-align: center;
  width: 80%;
  font-weight: bold;
  color: var(--bg-blue-dark-color);
}
/*best-routes*/
.all-routes {
  margin-top: 60px;
  color: var(--bg-blue-dark-color);
}

.best-routes-hr {
  margin: auto;

  margin-top: 50px;
  margin-bottom: 50px;
}

.route-img {
  width: 100%;
  border-radius: 8px;
}

.route-header {
  font-size: medium;
  font-weight: bold;
  text-decoration: underline;
}

.route-information {
  margin-top: 20px;
  line-height: 5px;
}

.check-route-btn-div {
  text-align: right;
}

.check-route-btn {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: none;
  background-color: var(--bg-blue-dark-color);
}

.check-route-btn:hover {
  text-decoration: underline;
  background-color: var(--bg-blue-dark-color);
}

.check-route-link {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: none;
}

.check-route-link:hover {
  color: var(--light-color);
  font-weight: 500;
  text-decoration: underline;
}

.best-routes-bottom-div {
  background-color: var(--bg-blue-light-color);
  padding: 20px;
  margin-top: 70px;
}

.best-routes-bottom-p {
  color: var(--light-color);
  text-align: center;
}

.best-routes-bottom-link {
  color: var(--light-color);
  text-decoration: none;
}

.best-routes-bottom-link:hover {
  text-decoration: underline;
}

/*about-fatra*/
.about-fatra-intro {
  margin-top: 40px;
  width: 80%;
  color: var(--bg-blue-dark-color);
  text-align: center;
}

.about-fatra-div {
  background-color: var(--bg-blue-light-color);
  padding: 20px;
  margin-top: 70px;
}

.about-fatra-p {
  color: var(--light-color);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3%;
}
/*all-peaks*/
.all-peaks-intro {
  margin-top: 40px;
  width: 80%;
  color: var(--bg-blue-dark-color);
  text-align: center;
}

.all-peaks-container {
  margin-top: 100px;
  margin: auto;
}

.all-peaks-row {
  display: flex;
}

.single-peak {
  display: flex;
  margin-top: 50px;
}

.all-peaks-text {
  line-height: 5px;
}
.all-peaks-text-special {
  line-height: normal;
}

.all-peaks-peak-header {
  font-weight: 700;
  color: var(--bg-blue-dark-color);
}

.all-peaks-peak-info {
  font-weight: bold;
  color: var(--bg-blue-light-color);
}

.all-peaks-peak-link {
  text-decoration: none;
}

.all-peaks-peak-link:hover {
  text-decoration: underline;
  color: var(--bg-blue-dark-color);
}

.all-peaks-fact {
  margin-top: 50px;
  padding: 20px;
  text-align: center;
  color: var(--light-color);
  background-color: var(--bg-blue-light-color);
}

.all-peaks-p {
  width: 80%;
}
