:root {
  --bg-blue-dark-color: rgba(44, 60, 92, 1);
  --bg-blue-light-color: rgba(44, 60, 92, 0.7);
  --light-color: rgba(251, 251, 251, 1);
}

@media (max-width: 992px) {
  .nav-divider {
    display: none;
  }
}

* {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

/*general*/

body {
  background-color: var(--light-color);
}

.bold {
  font-weight: bold;
  font-size: medium;
}

.header img {
  width: 100%;
}

.navbar-nav {
  width: 50%;
}

span {
  font-size: 24px;
}

.nav-link {
  color: var(--bg-blue-dark-color);
}

.nav-link:hover {
  color: var(--bg-blue-dark-color);
}

.active {
  font-weight: bolder;
}

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--bg-blue-dark-color);
}

.footer-link {
  color: var(--bg-blue-dark-color);
  text-decoration: none;
  font-weight: bold;
}

.footer-link:hover {
  text-decoration: underline;
}

/*home*/
.index-intro {
  margin-top: 40px;
  text-align: center;
  width: 80%;
  font-weight: bold;
  color: var(--bg-blue-dark-color);
}
/*best-routes*/
/*about-fatra*/
.about-fatra-intro {
  margin-top: 40px;
  width: 80%;
  color: var(--bg-blue-dark-color);
  text-align: center;
}

.about-fatra-div {
  background-color: var(--bg-blue-light-color);
  padding: 20px;
  margin-top: 70px;
}

.about-fatra-p {
  color: var(--light-color);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 3%;
}
/*all-peaks*/
.all-peaks-intro {
  margin-top: 40px;
  width: 80%;
  color: var(--bg-blue-dark-color);
  text-align: center;
}
